[submodule "packages/server"]
	path = packages/server
	url = https://github.com/Adebayooluwaferanmi/hospitalrun-server.git
[submodule "packages/frontend"]
	path = packages/frontend
	url = https://github.com/Adebayooluwaferanmi/hospitalrun-frontend.git
[submodule "lahim.io"]
	path = lahim.io
	url = https://github.com/Adebayooluwaferanmi/github.lahim.io.git
